html {
    font-family: Verdana, sans-serif;
    min-height:100%;
    margin: 0;
}

body {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.container {
  margin: 0 auto;
  width: 50%;
  background-color: #2ecc71;
  padding: 20px;
}

@media (min-width: 640px) and (max-width: 800px){
  .container {
    margin: 0 auto;
    width: 80%;
    background-color: #2ecc71;
    padding: 20px;
  }
}

@media (max-width: 640px){
  .container {
    width: 100%;
    min-height: 100%;
    background-color: #2ecc71;
  }
}
